.userBadge {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  column-gap: 0.5rem;
  user-select: none;
}

.userBadge__image {
  width: 24px;
  height: 24px;
}

.userBadge__text {
  height: 25px;
  font-weight: bold;
  font-size: 24px;
}
