.userBadge {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  user-select: none;
}

.userBadge__image {
  width: $font-size-md;
  height: $font-size-md;
}

.userBadge__text {
  height: 25px;
  font-weight: bold;
  font-size: $font-size-md;
}
