.percentileTable {
  width: 100%;
  user-select: none;

  &__header {
    & > tr > th {
      padding: 1rem;
      font-size: $font-size-regular;
      font-weight: bold;
      border: 0.1rem solid $light-grey;
    }
  }

  &__indicator {
    text-align: center;
    font-size: $font-size-s;
    font-weight: bold;
    padding: 1rem;
    background-color: $bg-light-grey;
    border-right: 0.1rem solid $light-grey;
    border-left: 0.1rem solid $light-grey;
    border-top: 0.1rem solid $light-grey;
  }

  &__row {
    border: 0.1rem solid $light-grey;
    font-size: $font-size-regular;
    font-weight: bold;

    &__item {
      width: 3rem;
      border: 0.1rem solid $light-grey;
      text-align: center;

      &--red {
        background-color: $main-red;
      }

      &--yellow {
        background-color: $main-yellow;
      }

      &--green {
        background-color: $main-green;
      }

      &--active {
        cursor: pointer;
      }

      &__lead {
        padding: 0.9rem;

        &--active {
          border: 0.2rem solid $main-blue;
          padding: 0.9rem;

          &:hover {
            cursor: pointer;
          }
        }
        &:hover {
          cursor: pointer;
          border: 0.1rem solid $dark-grey;
        }
      }
    }
  }
}
