.logoutButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 0.5rem;
  transition: all ease 0.25s;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 3rem;
}

.logoutButton:hover {
  cursor: pointer;
  transition: all ease 0.25s;
  opacity: 0.5;
}
