.infoModal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  &__inner {
    width: 70rem;
    height: 45rem;
    background-color: white;
    margin: 0 auto;
    user-select: none;

    &__head {
      display: flex;
      flex-direction: row;
      width: 100%;
      background-color: $main-blue;
      &__title {
        font-size: $font-size-md;
        font-weight: bold;
        padding: 1rem;
        color: $main-white;
      }

      &__closeButton {
        margin-left: auto;
        border: none;
        font-size: $font-size-md;
        font-weight: bold;
        background-color: $light-grey;
        padding: 0 1rem 0 1rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__body {
      padding: 2rem;
      height: 100%;
      width: 90%;
      margin: 0 auto;
      overflow: auto;

      &__header1 {
        margin: 1rem 0 1rem 0;
        font-weight: bold;
      }

      &__header2 {
        margin: 3rem 0 1rem 0;
        font-weight: bold;
      }

      & > p,
      span {
        font-size: $font-size-regular;
        line-height: 120%;
        text-align: justify;
      }

      & > span {
        padding: 0.1rem;
        font-weight: bold;
        color: $main-white;
      }
    }
  }

  &--invisible {
    display: none;
  }
}
