.navbar {
  background-color: $main-blue;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  color: $main-white;
  font-size: $font-size-md;
  display: flex;
  flex-direction: column;
}

.navbar__nav {
  margin: 0 auto;
  margin-top: 4rem;
}

.navbar__bottomBox {
  margin-top: auto;
  border-top: 1px solid $main-white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__upperBox {
  border-bottom: 1px solid $main-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.navbar__clock {
  margin: 0 auto;
  margin-top: 2rem;
  font-size: $font-size-xl;
  font-weight: bold;
}

.navbar__upperBox__backButton {
  border: none;
  background-color: $main-blue;
  color: white;
  transition: 0.25s all ease;
  align-self: flex-start;
  &:hover {
    cursor: pointer;
    transition: 0.25s all ease;
    opacity: 0.5;
  }
}
