$main-blue: #0075ff;
$main-blue-highlight: #004fa8;
$main-white: #ffff;
$main-background: #f3f3f3;
$light-grey: #e7e7e7;
$bg-light-grey: #f5f5f5;
$dark-grey: #9c9c9c;

$main-red: #fa5c5c;
$main-yellow: #f2a55d;
$main-green: #91c161;
